SA_PASSWORD=ChangeMeForLocalOnly!
MSSQL_PORT=1433
RABBITMQ_URL=rabbitmq
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
JWT_SECRET_KEY=replace-with-a-long-random-development-secret
JWT_ISSUER=IdentityAPI
JWT_AUDIENCE=IdentityAPI-Users
